@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital@0;1&display=swap');
@import "tailwindcss";
*{
  font-family: "Plus Jakarta Sans", sans-serif;
}

@theme{
  --color-primary: #4b0082;
}